Repository gregorias/anki-code-highlighter: changes, and which lefthook commands are due for each by the changed paths.
All: check-module-names, poetry-check, ruff, ruff-imports, toml-taplo-lint, toml-taplo-fmt, yaml-prettier, yapf

lefthook.yml:

pre-commit:
  parallel: true
  scripts:
    "check-asset-version.py":
      runner: python3
  commands:
    check-module-names:
      glob: "*.py"
      run: ./dev/bin/check-module-names {staged_files}
    markdownlint:
      tags: documentation style
      files: git diff --name-only --cached --diff-filter=AM
      glob: "*.md"
      run: markdownlint {files}
    poetry-check:
      tags: lint
      glob: "pyproject.toml"
      run: poetry check
    ruff:
      tags: lint
      glob: "*.py"
      run: just ruff
    ruff-imports:
      tags: style import
      glob: "*.py"
      run: ruff check --select=I001 {staged_files}
    toml-taplo-lint:
      tags: style
      glob: "*.toml"
      run: taplo check {staged_files}
    toml-taplo-fmt:
      tags: style
      glob: "*.toml"
      run: taplo fmt --check {staged_files}
    yaml-prettier:
      tags: style
      glob: "*.{yml,yaml}"
      run: prettier -c {staged_files}
    yapf:
      tags: style
      glob: "*.py"
      run: yapf -i -r {staged_files} && git add {staged_files}
    test:
      run: just test
    vulture:
      run: just vulture
commit-msg:
  commands:
    commitlint:
      run: commitlint --edit={1}

feat: hardcode border color
  tools/generatepygmentscss.py
Due: check-module-names, ruff, ruff-imports, yapf

feat(pygments): update CSS
  assets/_ch-asset-version.txt
  assets/_ch-pygments-solarized.css
  tools/generatepygmentscss.py
Due: check-module-names, ruff, ruff-imports, yapf

chore: release 25.05.0
  codehighlighter/manifest.json
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

ci: update hljs.py name
  DEV.md
  tools/installhljs.py
Due: check-module-names, ruff, ruff-imports, yapf

refactor: refresh HLJS installer
  tools/installhljs.py
Due: check-module-names, ruff, ruff-imports, yapf

feat: add RISC-V support
  assets/_ch-asset-version.txt
  assets/_ch-highlight.js
  codehighlighter/hljslangs.py
  pyproject.toml
  tools/extract-hljs-languages.js
  tools/installhljs.py
  uv.lock
Due: check-module-names, poetry-check, ruff, ruff-imports, toml-taplo-lint, toml-taplo-fmt, yapf

chore: release v25.05.1
  codehighlighter/manifest.json
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

chore: bump up Python to 3.13
  .python-version
  codehighlighter/manifest.json
  codehighlighter/serialization.py
  pyproject.toml
  uv.lock
Due: check-module-names, poetry-check, ruff, ruff-imports, toml-taplo-lint, toml-taplo-fmt, yapf

docs: document the asset dashboard
  DEV.md
Due: none

refactor(serializer): use ellipsis in protocols
  codehighlighter/serialization.py
Due: check-module-names, ruff, ruff-imports, yapf

chore: update Python in Mypy
  DEV.md
  mypy.ini
Due: none

chore: update Mypy to 1.16
  codehighlighter/pygments_highlighter.py
  pyproject.toml
  uv.lock
Due: check-module-names, poetry-check, ruff, ruff-imports, toml-taplo-lint, toml-taplo-fmt, yapf

chore: switch to Black
  DEV.md
  codehighlighter/__init__.py
  codehighlighter/ankieditorextra.py
  codehighlighter/assets.py
  codehighlighter/bs4extra.py
  codehighlighter/clipboard.py
  codehighlighter/dialog.py
  codehighlighter/hljs.py
  codehighlighter/hljslangs.py
  codehighlighter/html.py
  codehighlighter/listextra.py
  codehighlighter/main.py
  codehighlighter/pygments_highlighter.py
  codehighlighter/serialization.py
  lefthook.yml
Due: check-module-names, ruff, ruff-imports, yaml-prettier, yapf

refactor(serialization): update module
  codehighlighter/assets.py
  codehighlighter/serialization.py
  test/test_serialization.py
  uv.lock
Due: check-module-names, ruff, ruff-imports, yapf

Create FUNDING.yml
  .github/FUNDING.yml
Due: yaml-prettier

fix: add auto-scroll to Pygments
  assets/_ch-asset-version.txt
  assets/_ch-pygments-solarized.css
Due: none

chore: release v25.08.0
  codehighlighter/manifest.json
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

chore: delete obsolete utf-8 directive
  .lefthook/pre-commit/check-asset-version.py
Due: check-module-names, ruff, ruff-imports, yapf

chore: add check-version-sync
  dev/bin/check-version-sync
  lefthook.yml
Due: yaml-prettier

chore: add version bump scripts
  .bumpversion.toml
  DEV.md
  Justfile
  dev/bin/bump
  dev/bin/check-version-sync
Due: toml-taplo-lint, toml-taplo-fmt

chore: bump 25.08.0 → 25.08.1
  .bumpversion.toml
  codehighlighter/manifest.json
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

chore: scriptify releases
  DEV.md
  Justfile
  dev/bin/release
Due: none

refactor(dialog): fix lints
  codehighlighter/dialog.py
Due: check-module-names, ruff, ruff-imports, yapf

refactor: fix lints
  codehighlighter/assets.py
  test/test_assets.py
Due: check-module-names, ruff, ruff-imports, yapf

refactor(main): fix lints
  codehighlighter/main.py
  test/test_assets.py
Due: check-module-names, ruff, ruff-imports, yapf

refactor(main): fix lints
  codehighlighter/main.py
Due: check-module-names, ruff, ruff-imports, yapf

feat: use dynamic import for hljs on desktop
  assets/_ch-asset-version.txt
  assets/_ch-highlight-export.js
  assets/_ch-my-highlight.js
  codehighlighter/assets.py
  codehighlighter/main.py
  test/test_assets.py
Due: check-module-names, ruff, ruff-imports, yapf

chore: bump 25.08.1 → 25.08.2
  .bumpversion.toml
  codehighlighter/manifest.json
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

feat: drop Highlight.js from supported highlighters
  DEV.md
  README.md
  codehighlighter/dialog.py
  codehighlighter/hljs.py
  codehighlighter/hljslangs.py
  codehighlighter/main.py
  test/test_dialog.py
  test/test_highlighter_hljs.py
  test/test_main.py
  tools/extract-hljs-languages.js
  tools/installhljs.py
Due: check-module-names, ruff, ruff-imports, yapf

chore: bump 25.08.2 → 25.08.3
  .bumpversion.toml
  codehighlighter/manifest.json
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

Revert "feat: drop Highlight.js from supported highlighters"
  DEV.md
  README.md
  codehighlighter/dialog.py
  codehighlighter/hljs.py
  codehighlighter/hljslangs.py
  codehighlighter/main.py
  test/test_dialog.py
  test/test_highlighter_hljs.py
  test/test_main.py
  tools/extract-hljs-languages.js
  tools/installhljs.py
Due: check-module-names, ruff, ruff-imports, yapf

chore: release v1.20.0
  .bumpversion.toml
  DEV.md
  Justfile
  assets/_ch-asset-version.txt
  codehighlighter/manifest.json
  dev/bin/check-version-sync
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

docs: document v1 branch
  DEV.md
Due: none

chore: add GEMINI.md
  .markdownlint.json
  GEMINI.md
Due: none

chore: drop mypy ignore
  codehighlighter/main.py
Due: check-module-names, ruff, ruff-imports, yapf

chore: clean up utf8 directives
  codehighlighter/pygments_highlighter.py
Due: check-module-names, ruff, ruff-imports, yapf
