Repository gregorias/anki-code-highlighter: changes, and which lefthook commands are due for each by the changed paths.
All: black, check-module-names, css-prettier, ruff, ruff-imports, toml-taplo-lint, toml-taplo-fmt, uv-check, yaml-prettier

lefthook.yml:

pre-commit:
  parallel: true
  scripts:
    "check-asset-version.py":
      runner: python3
  commands:
    black:
      tags: style
      glob: "*.py"
      run: black {staged_files} && git add {staged_files}
    check-module-names:
      glob: "*.py"
      run: ./dev/bin/check-module-names {staged_files}
    css-prettier:
      tags: style
      glob: "*.css"
      run: prettier -c {staged_files}
    markdownlint:
      tags: documentation style
      files: git diff --name-only --cached --diff-filter=AM
      glob: "*.md"
      run: markdownlint {files}
    ruff:
      tags: lint
      glob: "*.py"
      run: just ruff
    ruff-imports:
      tags: style import
      glob: "*.py"
      run: ruff check --select=I001 {staged_files}
    test:
      run: just test
    toml-taplo-lint:
      tags: style
      glob: "*.toml"
      run: taplo check {staged_files}
    toml-taplo-fmt:
      tags: style
      glob: "*.toml"
      run: taplo fmt --check {staged_files}
    uv-check:
      tags: lint
      glob: "{pyproject.toml,uv.lock}"
      run: uv pip check
    vulture:
      run: just vulture
    yaml-prettier:
      tags: style
      glob: "*.{yml,yaml}"
      run: prettier -c {staged_files}
commit-msg:
  commands:
    commitlint:
      run: commitlint --edit={1}

chore: clean up utf8 directives
  codehighlighter/pygments_highlighter.py
Due: black, check-module-names, ruff, ruff-imports

chore: update bs4extra
  codehighlighter/bs4extra.py
Due: black, check-module-names, ruff, ruff-imports

docs: document branches
  DEV.md
Due: none

chore: use add-on
  codehighlighter/main.py
Due: black, check-module-names, ruff, ruff-imports

feat: implement migrate button
  codehighlighter/main.py
Due: black, check-module-names, ruff, ruff-imports

feat: add get_hljs_notes
  codehighlighter/migratev2.py
Due: black, check-module-names, ruff, ruff-imports

feat(migratev2): add hljs_to_pygments_lang
  codehighlighter/migratev2.py
  codehighlighter/pygments_highlighter.py
  test/test_migratev2.py
Due: black, check-module-names, ruff, ruff-imports

feat: add find_hljs_in_field
  codehighlighter/main.py
  codehighlighter/migratev2.py
  test/test_migratev2.py
Due: black, check-module-names, ruff, ruff-imports

feat: add migrate field
  codehighlighter/migratev2.py
  test/test_migratev2.py
Due: black, check-module-names, ruff, ruff-imports

refactor: update assertHtmlEqual
  test/test_migratev2.py
Due: black, check-module-names, ruff, ruff-imports

chore: update deps
  uv.lock
Due: uv-check

chore: update deps
  pyproject.toml
  uv.lock
Due: toml-taplo-lint, toml-taplo-fmt, uv-check

chore: install Bpython
  pyproject.toml
  uv.lock
Due: toml-taplo-lint, toml-taplo-fmt, uv-check

feat: add ARM
  Justfile
  codehighlighter/pygments_highlighter.py
  codehighlighter/pygmentsarm.py
  licenses/pygments-arm-LICENSE.txt
  test/test_pygments_highlighter.py
  vulture_whitelist.py
Due: black, check-module-names, ruff, ruff-imports

feat(migratev2): add hljs_to_pygments_lang
  codehighlighter/migratev2.py
  codehighlighter/pygments_highlighter.py
  test/test_migratev2_hljs_to_pygments_lang.py
Due: black, check-module-names, ruff, ruff-imports

feat: add find_hljs_in_field
  codehighlighter/migratev2.py
  test/test_migratev2.py
Due: black, check-module-names, ruff, ruff-imports

feat: add migrate field
  codehighlighter/migratev2.py
  test/test_migratev2.py
  test/test_migratev2_migrate_hljs_field.py
Due: black, check-module-names, ruff, ruff-imports

feat(migratev2): add UnknownLanguageException
  codehighlighter/migratev2.py
  test/test_migratev2.py
  test/test_migratev2_migrate_hljs_tag.py
Due: black, check-module-names, ruff, ruff-imports

feat: curate available lexers
  codehighlighter/dialog.py
  codehighlighter/pygments_highlighter.py
  test/test_pygments_highlighter.py
Due: black, check-module-names, ruff, ruff-imports

docs: track AnkiWeb page
  ankiweb-readme.html
Due: none

feat: delete last vestiges of Highlight.js
  DEV.md
  README.md
  assets/_ch-asset-version.txt
  assets/_ch-highlight-export.js
  assets/_ch-highlight.js
  assets/_ch-hljs-solarized.css
  codehighlighter/config.json
  codehighlighter/main.py
  lefthook.yml
Due: black, check-module-names, css-prettier, ruff, ruff-imports, yaml-prettier

feat: migrate python-repl
  assets/_ch-asset-version.txt
  codehighlighter/migratev2.py
  test/test_migratev2_hljs_to_pygments_lang.py
Due: black, check-module-names, ruff, ruff-imports

feat: delete obsolete nohighlight class
  codehighlighter/pygments_highlighter.py
  test/testdata/out0.html
  test/testdata/out1.html
Due: black, check-module-names, ruff, ruff-imports

docs: document why not inline styles
  DEV.md
Due: none

refactor: add guard module
  codehighlighter/assets.py
  codehighlighter/guard.py
  test/test_guard.py
Due: black, check-module-names, ruff, ruff-imports

chore: fix diagnostics
  codehighlighter/pygments_highlighter.py
Due: black, check-module-names, ruff, ruff-imports
