Repository gregorias/anki-code-highlighter: changes, and which lefthook commands are due for each by the changed paths.
All: black, check-module-names, css-prettier, ruff, ruff-imports, toml-taplo-lint, toml-taplo-fmt, uv-check, yaml-prettier

black:
  tags: style
  run: black {staged_files} && git add {staged_files}

check-module-names:
  run: ./dev/bin/check-module-names {staged_files}

css-prettier:
  tags: style
  run: prettier -c {staged_files}

ruff:
  tags: lint
  run: just ruff

ruff-imports:
  tags: style import
  run: ruff check --select=I001 {staged_files}

toml-taplo-lint:
  tags: style
  run: taplo check {staged_files}

toml-taplo-fmt:
  tags: style
  run: taplo fmt --check {staged_files}

uv-check:
  tags: lint
  run: uv pip check

yaml-prettier:
  tags: style
  run: prettier -c {staged_files}

refactor(model): use dedicated model module
  codehighlighter/assets.py
  codehighlighter/main.py
  codehighlighter/model.py
Due: black, check-module-names, ruff, ruff-imports

chore: delete unused import
  codehighlighter/main.py
Due: black, check-module-names, ruff, ruff-imports

refactor: add dedicated module for media
  codehighlighter/assets.py
  codehighlighter/media.py
  codehighlighter/osextra.py
Due: black, check-module-names, ruff, ruff-imports

refactor: add MediaInstaller
  codehighlighter/assets.py
  codehighlighter/main.py
  codehighlighter/media.py
  test/media.py
  test/model.py
  test/test_assets.py
Due: black, check-module-names, ruff, ruff-imports

refactor: use ABC
  codehighlighter/model.py
Due: black, check-module-names, ruff, ruff-imports

refactor: delete JS setup
  codehighlighter/assets.py
  codehighlighter/main.py
  test/test_assets.py
Due: black, check-module-names, ruff, ruff-imports

feat(guard): delete leading newlines
  codehighlighter/guard.py
  test/test_guard.py
Due: black, check-module-names, ruff, ruff-imports

feat: use stylings, drop templates
  assets/_ch-asset-version.txt
  codehighlighter/assets.py
  codehighlighter/guard.py
  codehighlighter/model.py
  test/media.py
  test/model.py
  test/test_assets.py
  test/test_guard.py
Due: black, check-module-names, ruff, ruff-imports

feat: change asset prefix for v2
  .lefthook/pre-commit/check-asset-version.py
  DEV.md
  README.md
  assets/_gch-asset-version.txt
  assets/_gch-pygments-solarized.css
  codehighlighter/config.json
  codehighlighter/main.py
  test/media.py
  test/test_assets.py
Due: black, check-module-names, css-prettier, ruff, ruff-imports

feat: update strings
  assets/_gch-asset-version.txt
  codehighlighter/main.py
  codehighlighter/manifest.json
Due: black, check-module-names, ruff, ruff-imports

feat: update class
  assets/_gch-asset-version.txt
  assets/_gch-pygments-solarized.css
  codehighlighter/main.py
  codehighlighter/pygments_highlighter.py
  test/test_highlighter_pygments.py
  test/test_main.py
  test/test_pygments_highlighter.py
  test/testdata/out0.html
  test/testdata/out1.html
  tools/generatepygmentscss.py
Due: black, check-module-names, css-prettier, ruff, ruff-imports

feat: update package name
  codehighlighter/manifest.json
Due: none

feat: update shortcut
  README.md
  ankiweb-readme.html
  codehighlighter/config.json
  codehighlighter/main.py
Due: black, check-module-names, ruff, ruff-imports

docs: update guide on using `generatepygmentscss`
  README.md
Due: none

chore: update deps
  DEV.md
  codehighlighter/pygments_highlighter.py
  pyproject.toml
  test/test_pygments_highlighter.py
  uv.lock
Due: black, check-module-names, ruff, ruff-imports, toml-taplo-lint, toml-taplo-fmt, uv-check

chore: delete bpython
  pyproject.toml
  uv.lock
Due: toml-taplo-lint, toml-taplo-fmt, uv-check

chore: update deps
  uv.lock
Due: uv-check

docs: delete obsolete ADR
  DEV.md
Due: none

chore: update deps
  DEV.md
  pyproject.toml
  uv.lock
Due: toml-taplo-lint, toml-taplo-fmt, uv-check

refactor: add docs for Pygments CSS generation
  tools/generatepygmentscss.py
Due: black, check-module-names, ruff, ruff-imports

chore: fix typo
  tools/generatepygmentscss.py
Due: black, check-module-names, ruff, ruff-imports

fix: add overflow fix
  tools/generatepygmentscss.py
Due: black, check-module-names, ruff, ruff-imports

feat: generalize night mode class selector
  DEV.md
  Justfile
  assets/_gch-asset-version.txt
  assets/_gch-pygments-solarized.css
  pyproject.toml
  tools/generatepygmentscss.py
  uv.lock
Due: black, check-module-names, css-prettier, ruff, ruff-imports, toml-taplo-lint, toml-taplo-fmt, uv-check

docs: document module architecture
  DEV.md
Due: none

chore: format README
  README.md
Due: none

docs: update docstrings
  codehighlighter/ankieditorextra.py
Due: black, check-module-names, ruff, ruff-imports

docs: document no async/await call
  DEV.md
Due: none

feat: delete template modification
  DEV.md
  README.md
  codehighlighter/assets.py
  codehighlighter/main.py
  codehighlighter/model.py
  test/model.py
  test/test_assets.py
  vulture_whitelist.py
Due: black, check-module-names, ruff, ruff-imports

feat: add code for working with fields
  codehighlighter/ankieditorextra.py
  test/test_ankieditorextra.py
Due: black, check-module-names, ruff, ruff-imports

feat: add in-field style import
  codehighlighter/ankieditorextra.py
  codehighlighter/field.py
  codehighlighter/main.py
  test/test_ankieditorextra.py
  test/test_field.py
Due: black, check-module-names, ruff, ruff-imports

docs: document field instrumentation decision
  DEV.md
Due: none

docs: update module diagram
  DEV.md
Due: none

feat: hide asset manip buttons
  README.md
  ankiweb-readme.html
  codehighlighter/config.json
  codehighlighter/main.py
  lefthook.yml
Due: black, check-module-names, ruff, ruff-imports, yaml-prettier

feat: delete custom styles
  .bumpversion.toml
  CHANGELOG.md
  DEV.md
  README.md
  codehighlighter/config.json
  codehighlighter/main.py
Due: black, check-module-names, ruff, ruff-imports, toml-taplo-lint, toml-taplo-fmt

feat: add fuzzy language finder
  CHANGELOG.md
  DEV.md
  codehighlighter/dialog.py
  codehighlighter/fuzzy_finder_dialog.py
  test/test_fuzzy_finder_dialog.py
Due: black, check-module-names, ruff, ruff-imports

docs: use google-style docstrings
  codehighlighter/pygments_highlighter.py
Due: black, check-module-names, ruff, ruff-imports

feat: add language comment
  CHANGELOG.md
  codehighlighter/pygments_highlighter.py
  test/test_highlighter_pygments.py
  test/test_main.py
  test/test_pygments_highlighter.py
  test/testdata/out0.html
  test/testdata/out1.html
Due: black, check-module-names, ruff, ruff-imports

feat: implement card migration
  ankiweb-readme.html
  codehighlighter/main.py
  codehighlighter/migratev2.py
  codehighlighter/pygments_highlighter.py
  codehighlighter/pygmentsarm.py
  codehighlighter/v2/__init__.py
  codehighlighter/v2/field.py
  codehighlighter/v2/guard.py
  codehighlighter/v2/pygments_highlighter.py
  dev/bin/package
  test/test_highlighter_pygments.py
  test/test_migratev2.py
  test/test_migratev2_migrate_hljs_field.py
  test/test_migratev2_migrate_hljs_tag.py
  uv.lock
  vulture_whitelist.py
Due: black, check-module-names, ruff, ruff-imports, uv-check

Path conditions:
  black: any of: *.py
  check-module-names: any of: *.py
  css-prettier: any of: *.css
  ruff: any of: *.py
  ruff-imports: any of: *.py
  toml-taplo-lint: any of: *.toml
  toml-taplo-fmt: any of: *.toml
  uv-check: any of: {pyproject.toml,uv.lock}
  yaml-prettier: any of: *.{yml,yaml}
