Repository gregorias/anki-code-highlighter: changes, and which lefthook commands are due for each by the changed paths.
All: check-module-names, poetry-check, toml-taplo-lint, toml-taplo-fmt, yapf

check-module-names:
  run: ./dev/bin/check-module-names {staged_files}

poetry-check:
  tags: lint
  run: poetry check

toml-taplo-lint:
  tags: style
  run: taplo check {staged_files}

toml-taplo-fmt:
  tags: style
  run: taplo fmt --check {staged_files}

yapf:
  tags: style
  run: yapf -i -r {staged_files} && git add {staged_files}

chore: update deps
  poetry.lock
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

chore(poetry): disable package mode
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

chore(hljs): update HLJS to 11.11
  assets/_ch-asset-version.txt
  assets/_ch-highlight.js
  tools/hljs.py
Due: check-module-names, yapf

docs: fix Pygments link
  DEV.md
Due: none

docs: fix grammar
  DEV.md
Due: none

chore: mark 24.12.0 release
  codehighlighter/manifest.json
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

refactor: use HtmlString
  codehighlighter/ankieditorextra.py
  codehighlighter/bs4extra.py
  codehighlighter/html.py
Due: check-module-names, yapf

refactor: mark expected plaintext strings explicitly
  codehighlighter/ankieditorextra.py
  codehighlighter/format.py
  codehighlighter/hljs.py
  codehighlighter/html.py
  codehighlighter/main.py
  codehighlighter/pygments_highlighter.py
Due: check-module-names, yapf

refactor: delete unused code
  Justfile
  codehighlighter/ankieditorextra.py
  codehighlighter/bs4extra.py
  codehighlighter/main.py
  codehighlighter/serialization.py
  lefthook.yml
  poetry.lock
  pyproject.toml
  test/test_ankieditorextra.py
  test/test_bs4extra.py
  test/test_serialization.py
Due: check-module-names, poetry-check, toml-taplo-lint, toml-taplo-fmt, yapf

feat(transform_selection): use selected text
  codehighlighter/ankieditorextra.py
  codehighlighter/bs4extra.py
  test/test_ankieditorextra.py
  test/test_highlighter_hljs.py
  test/test_highlighter_pygments.py
  test/testdata/in1.html
Due: check-module-names, yapf

chore: bump up version
  codehighlighter/manifest.json
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

fix: properly handle empty selection text
  codehighlighter/ankieditorextra.py
Due: check-module-names, yapf

chore: release v24.12.2
  codehighlighter/manifest.json
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

chore: add coverage checks
  Justfile
  dev/bin/coverage
  poetry.lock
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

chore: update deps
  poetry.lock
Due: none

refactor: encapsulate selection wrap in a function
  codehighlighter/ankieditorextra.py
Due: check-module-names, yapf

refactor: encapsulate unwrap in function
  codehighlighter/ankieditorextra.py
  codehighlighter/main.py
Due: check-module-names, yapf

refactor: clean up unnecessary abstraction and complexity
  codehighlighter/clipboard.py
  codehighlighter/format.py
  codehighlighter/main.py
  pyproject.toml
  test/test_format.py
Due: check-module-names, poetry-check, toml-taplo-lint, toml-taplo-fmt, yapf

refactor: extract highlight_selection for testing
  codehighlighter/__init__.py
  codehighlighter/hljslangs.py
  codehighlighter/main.py
  test/test_main.py
Due: check-module-names, yapf

refactor: reduce transform_selection Demeter
  codehighlighter/ankieditorextra.py
  codehighlighter/main.py
Due: check-module-names, yapf

chore: fix transform_selection comment
  codehighlighter/ankieditorextra.py
Due: check-module-names, yapf

refactor: test transform_selection
  codehighlighter/ankieditorextra.py
  codehighlighter/main.py
  test/test_ankieditorextra.py
  tools/hljs.py
Due: check-module-names, yapf

refactor: create main.highlight for testing
  codehighlighter/main.py
  test/test_main.py
Due: check-module-names, yapf

chore: release 25.03.0
  codehighlighter/manifest.json
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

chore: sort Lefthook
  lefthook.yml
Due: none

chore(assets): update comments
  codehighlighter/assets.py
Due: check-module-names, yapf

chore: install CSS formatter
  lefthook.yml
Due: none

chore: migrate to Uv
  .envrc
  DEV.md
  lefthook.yml
  poetry.lock
  pyproject.toml
  uv.lock
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

docs: document Python update
  DEV.md
Due: none

feat: update highlight.js to 11.11.1
  DEV.md
  assets/_ch-asset-version.txt
  assets/_ch-highlight.js
  codehighlighter/hljslangs.py
  tools/hljs.py
Due: check-module-names, yapf

chore: update Anki
  pyproject.toml
  uv.lock
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

docs: fix typo
  DEV.md
Due: none

chore: move pygutils to tools
  DEV.md
  tools/pygmentsutils.py
Due: check-module-names, yapf

feat(pygments): stop inlining colors
  tools/pygmentsutils.py
Due: check-module-names, yapf

chore: add type annotation
  tools/pygmentsutils.py
Due: check-module-names, yapf

chore: delete obsolete pygmentsutils
  DEV.md
  tools/generatepygmentscss.py
  tools/pygmentsutils.py
Due: check-module-names, yapf

feat: use Prettier on Pygments
  assets/_ch-asset-version.txt
  assets/_ch-pygments-solarized.css
  tools/generatepygmentscss.py
Due: check-module-names, yapf

chore: drop executable from generatepygmentscss
  tools/generatepygmentscss.py
Due: check-module-names, yapf

refactor: drop spurious temporary variable
  tools/generatepygmentscss.py
Due: check-module-names, yapf

Path conditions:
  check-module-names: any of: *.py
  poetry-check: any of: pyproject.toml
  toml-taplo-lint: any of: *.toml
  toml-taplo-fmt: any of: *.toml
  yapf: any of: *.py
