Repository gregorias/anki-code-highlighter: changes, and which lefthook commands are due for each by the changed paths.
All: black, check-module-names, css-prettier, ruff, ruff-imports, toml-taplo-lint, toml-taplo-fmt, uv-check, yaml-prettier

black:
  tags: style
  run: black {staged_files} && git add {staged_files}

check-module-names:
  run: ./dev/bin/check-module-names {staged_files}

css-prettier:
  tags: style
  run: prettier -c {staged_files}

ruff:
  tags: lint
  run: just ruff

ruff-imports:
  tags: style import
  run: ruff check --select=I001 {staged_files}

toml-taplo-lint:
  tags: style
  run: taplo check {staged_files}

toml-taplo-fmt:
  tags: style
  run: taplo fmt --check {staged_files}

uv-check:
  tags: lint
  run: uv pip check

yaml-prettier:
  tags: style
  run: prettier -c {staged_files}

feat: update AnkiWeb references
  README.md
  ankiweb-readme.html
  codehighlighter/main.py
Due: black, check-module-names, ruff, ruff-imports

docs: use google-style docstring
  codehighlighter/dialog.py
Due: black, check-module-names, ruff, ruff-imports

refactor: delete obsolete highlight method
  codehighlighter/dialog.py
  test/test_dialog.py
Due: black, check-module-names, ruff, ruff-imports

feat: add display style auto detect
  CHANGELOG.md
  README.md
  codehighlighter/config.json
  codehighlighter/dialog.py
  codehighlighter/main.py
  test/test_dialog.py
  test/test_main.py
Due: black, check-module-names, ruff, ruff-imports

feat: update gif
  README.md
  ankiweb-readme.html
  screenshots/v2/1.png
  screenshots/v2/2.png
  screenshots/v2/2a.png
  screenshots/v2/3.png
  screenshots/v2/4.png
  screenshots/v2/README.md
  screenshots/v2/animation.gif
Due: none

docs: update README
  README.md
Due: none

chore: update changelog
  .markdownlint.json
  CHANGELOG.md
Due: none

chore: bump 25.08.3 → 26.06.0
  .bumpversion.toml
  CHANGELOG.md
  codehighlighter/manifest.json
  pyproject.toml
Due: toml-taplo-lint, toml-taplo-fmt, uv-check

feat: add migration dialog
  codehighlighter/main.py
  test/test_main.py
Due: black, check-module-names, ruff, ruff-imports

chore: ignore errors in vulture config
  vulture_whitelist.py
Due: black, check-module-names, ruff, ruff-imports

refactor: delete unused function
  codehighlighter/guard.py
  vulture_whitelist.py
Due: black, check-module-names, ruff, ruff-imports

refactor: move config to separate module
  codehighlighter/config.py
  codehighlighter/main.py
  test/in_memory_config.py
  test/test_main.py
Due: black, check-module-names, ruff, ruff-imports

feat: add custom style support
  CHANGELOG.md
  DEV.md
  README.md
  codehighlighter/main.py
  test/test_main.py
Due: black, check-module-names, ruff, ruff-imports

docs: add config module to diagram
  DEV.md
Due: none

chore: update changelog for release
  CHANGELOG.md
Due: none

chore: bump 26.06.0 → 26.06.1
  .bumpversion.toml
  CHANGELOG.md
  codehighlighter/manifest.json
  pyproject.toml
Due: toml-taplo-lint, toml-taplo-fmt, uv-check

chore: update dev Python
  .python-version
  DEV.md
  uv.lock
Due: uv-check

chore: update deps
  pyproject.toml
  uv.lock
Due: toml-taplo-lint, toml-taplo-fmt, uv-check

Path conditions:
  black: any of: *.py
  check-module-names: any of: *.py
  css-prettier: any of: *.css
  ruff: any of: *.py
  ruff-imports: any of: *.py
  toml-taplo-lint: any of: *.toml
  toml-taplo-fmt: any of: *.toml
  uv-check: any of: {pyproject.toml,uv.lock}
  yaml-prettier: any of: *.{yml,yaml}
