Repository gregorias/anki-code-highlighter: changes, and which lefthook commands are due for each by the changed paths.
All: check-module-names, poetry-check, toml-taplo-lint, toml-taplo-fmt, yapf

check-module-names:
  run: ./dev/bin/check-module-names {staged_files}

poetry-check:
  tags: lint
  run: poetry check

toml-taplo-lint:
  tags: style
  run: taplo check {staged_files}

toml-taplo-fmt:
  tags: style
  run: taplo fmt --check {staged_files}

yapf:
  tags: style
  run: yapf -i -r {staged_files} && git add {staged_files}

refactor: clean up unused maybe_fmap
  codehighlighter/ankieditorextra.py
Due: check-module-names, yapf

feat: highlight clipboard code on empty selection
  README.md
  codehighlighter/ankieditorextra.py
  codehighlighter/format.py
  codehighlighter/main.py
  test/test_format.py
Due: check-module-names, yapf

chore: update version to 24.3
  codehighlighter/manifest.json
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

fix: don't highlight non-hljs pre-code blocks
  assets/_ch-asset-version.txt
  assets/_ch-my-highlight.js
Due: none

chore: release v24.3.1
  codehighlighter/manifest.json
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

chore: update deps
  poetry.lock
Due: none

chore: update to Python 3.9.19
  .python-version
  poetry.lock
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

refactor: move dialog chosing to its dialog
  codehighlighter/dialog.py
  codehighlighter/main.py
Due: check-module-names, yapf

refactor: extract index_or to listextra
  codehighlighter/listextra.py
  codehighlighter/main.py
Due: check-module-names, yapf

refactor: have dialog shower accept option strings
  codehighlighter/dialog.py
  codehighlighter/main.py
Due: check-module-names, yapf

refactor: move Hljs wizard to dialog
  codehighlighter/dialog.py
  codehighlighter/hljslangs.py
  codehighlighter/main.py
Due: check-module-names, yapf

refactor: move highlighter wizards to dialog
  codehighlighter/dialog.py
  codehighlighter/main.py
Due: check-module-names, yapf

refactor: move the highlighter wizard to dialog
  codehighlighter/dialog.py
  codehighlighter/main.py
Due: check-module-names, yapf

chore: install Ruff
  DEV.md
  Justfile
  codehighlighter/__init__.py
  codehighlighter/ankieditorextra.py
  codehighlighter/assets.py
  codehighlighter/format.py
  codehighlighter/hljs.py
  codehighlighter/listextra.py
  codehighlighter/main.py
  codehighlighter/pygments_highlighter.py
  lefthook.yml
  pyproject.toml
  test/test_highlighter_hljs.py
  test/test_highlighter_pygments.py
Due: check-module-names, poetry-check, toml-taplo-lint, toml-taplo-fmt, yapf

refactor(main): put highlighter wizard into a separate fn
  codehighlighter/main.py
Due: check-module-names, yapf

docs: document asset directory
  codehighlighter/assets.py
Due: check-module-names, yapf

feat: add serialization framework
  codehighlighter/serialization.py
  test/test_serialization.py
Due: check-module-names, yapf

feat: add highlight method serializers
  codehighlighter/dialog.py
  test/test_dialog.py
Due: check-module-names, yapf

feat: add display style serializers
  codehighlighter/dialog.py
  test/test_dialog.py
Due: check-module-names, yapf

feat: add hljs config converter
  codehighlighter/dialog.py
  test/test_dialog.py
Due: check-module-names, yapf

feat: add pygments config converter
  codehighlighter/dialog.py
  test/test_dialog.py
Due: check-module-names, yapf

feat: add wizard state convert
  codehighlighter/dialog.py
  test/test_dialog.py
Due: check-module-names, yapf

feat: persist highlighter wizard state
  codehighlighter/assets.py
  codehighlighter/main.py
Due: check-module-names, yapf

feat: update hljs to 11.9.0
  assets/_ch-asset-version.txt
  assets/_ch-highlight.js
  codehighlighter/hljslangs.py
  tools/hljs.py
Due: check-module-names, yapf

chore: release 24.5.0
  codehighlighter/manifest.json
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

feat: add a backup selection surrounding mechanism
  codehighlighter/ankieditorextra.py
Due: check-module-names, yapf

chore: release 24.5.1
  codehighlighter/manifest.json
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

chore: update deps
  poetry.lock
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

chore: format imports
  codehighlighter/ankieditorextra.py
  codehighlighter/assets.py
  codehighlighter/bs4extra.py
  codehighlighter/dialog.py
  codehighlighter/hljs.py
  codehighlighter/main.py
  codehighlighter/pygments_highlighter.py
  codehighlighter/serialization.py
  lefthook.yml
Due: check-module-names, yapf

chore: add yaml-prettier
  lefthook.yml
Due: none

chore: update
  poetry.lock
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

fix(pygments): use plaintext lexer on bogus names
  codehighlighter/pygments_highlighter.py
  test/test_highlighter_pygments.py
Due: check-module-names, yapf

chore: release v24.7.0
  codehighlighter/manifest.json
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

chore: use generic Python 3.9 in dev
  .python-version
  poetry.lock
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

chore: document why Python 3.9
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

Path conditions:
  check-module-names: any of: *.py
  poetry-check: any of: pyproject.toml
  toml-taplo-lint: any of: *.toml
  toml-taplo-fmt: any of: *.toml
  yapf: any of: *.py
